<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="well invoice-container">

                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6>از طرف: <%= channell.user.fullname %>
                                </h6>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <%= channell.user.email %>
                                    </li>
                                    <li>
                                        <%= channell.user.mobile %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2 text-right">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6>نام کانال: <%= channell.name %>
                                </h6>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <p>
                                            تاریخ ارسال : <%= jalaliMoment(channell.createdAt) %>
                                        </p>
                                    </li>
                                    <li>
                                        <% if(channell.permission) {%>
                                            <a href="/admin/channellPermission/<%= channell._id %>"><span
                                                    class="badge badge-success">مجاز</span></a>
                                            <%}else {%>
                                                <a href="/admin/channellPermission/<%= channell._id %>"><span
                                                        class="badge badge-danger">غیر
                                                        مجاز</span></a>
                                                <%}%>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- / end client details section -->
                <hr class="wide" />
                <div class="invoice-notes">
                    <h5>توضیحات کوتاه</h5>
                    <p>
                        <%= channell.shortDesc %>
                    </p>
                </div>
                <hr class="wide" />
                <div class="invoice-notes">
                    <h5>توضیحات</h5>
                    <p>
                        <%= channell.desc %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->